LoadPlugin "apache"
<Plugin "apache">
{% for item in librato_apache_instances -%}
   <Instance "{{ item.name }}">
       URL "{{ item.protocol }}://{{ item.host }}{{ item.path }}?auto"
{% if item.user is defined %}
       User "{{ item.user }}"
{% endif %}
{% if item.password is defined %}
       Password "{{ item.password }}"
{% endif %}
   </Instance>
{% endfor -%}
</Plugin>
